.header {
    padding-top: 24px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    @include sm-block() {
        align-items: flex-start;
    }
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo__link {
    margin-left: 15px;
    font-size: 42px;
    font-weight: 300;
    color: #000000;
}

.menu {
    display: flex;
    list-style-type: none;

    @include sm-block() {
        display: none;
        position: absolute;
        top: 120px;
    }
}

.menu-adaptive {
    width: 58px;
    height: 44px;
    background: url('../src/img/menu.png') no-repeat center center;
    display: none;
    cursor: pointer;

    @include sm-block() {
        display: block;
    }
}

.menu__item {
    margin-left: 45px;

    @include sm-block() {
        margin-top: 10px;
    }

}

.menu__link {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 20px;
    padding-bottom: 24px;


    &:hover {
        border-bottom: 3px solid #5094f2;
    }

    @include sm-block() {
        padding-bottom: 5px;
    }
}

.backg-slider {
    background: url('../src/img/backg-slider.png') no-repeat center center;
    background-size: cover;
    box-sizing: border-box;
    width: 100%;
    height: 100%;

}

.mt {
    margin-top: 38px;
}

.slider {
    position: relative;
    padding-top: 30px;
}

.slider__item {
    display: flex;
    justify-content: space-around;

    @include xs-block(){
        flex-wrap: wrap;
        justify-content: center;
    }
}

.slider__img {
    max-width: 350px;
    max-height: 436px;
    align-self: center;

    @include sm-block() {
        max-width: 170px;
    }
}

.slider__wrapper-left {
    margin-top: 115px;
    font-weight: 300;
    color: #fff;

    @include sm-block(){
        margin-top: 30px;
    }

}

.slider__title {
    font-size: 42px;
    color: #fff;
    font-weight: 300;

    @include sm-block() {
        font-size: 31px;
    }
}

.slider__text {
    padding-top: 18px;

    @include sm-block() {
        font-size: 23px;
    }
}

.slider__btn {
    margin-top: 34px;
    padding-right: 10px;
    max-width: 142px;
    height: 42px;
    background-color: #5094f2;
    text-align: right;
    font-size: 22px;
    line-height: 42px;
    position: relative;
    border-radius: 2px;
    cursor: pointer;

    &::after {
        width: 23px;
        height: 23px;
        content: '';
        display: block;
        background: url('../src/img/Shape_2.png');
        position: absolute;
        top: 10px;
        left: 10px;
    }

    @include xs-block(){
        margin: 34px auto;
    }
}

.next,
.prev {
    width: 25px;
    height: 63px;
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

    @include sm-block(){
        display: none;
    }
}

.next {
    background: url('../src/img/next.png') no-repeat center center;
    right: 3px;
}

.prev {
    background: url('../src/img/prev.png') no-repeat center center;
    left: 3px;
}