.shopping {
    padding-top: 91px;
}

.shopping__title{
    margin-left: 27px;
    font-size: 42px;
    color: #6f7173;
    font-weight: 400;

    @include sm-block{
        font-size: 32px;
        text-align: center;
    }
}

.shopping-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include sm-block{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.shopping__img{
    padding-top: 33px;
    margin-left: 18px;
}

.shopping__left-block {
    margin-left: 15px;
    margin-right: 48px;
    max-width: 453px;

    @include sm-block{
        padding-top: 50px;
    }
}

.shopping__subtitle{
    margin-top: 12px;
    color: #6f7173;
    font-size: 26px;
    font-weight: 400;

    @include sm-block{
        text-align: center;
    }
}

.shopping__text {
    margin-top: 34px;
    font-size: 15px;
    color: #909090;
    line-height: 34px;
}


.footer{
    margin-top: 96px;
    margin-bottom: 44px;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
}